:root {
    --main-bg-color: #0B0B0B;
    --bg-transparent-color: #151515b5;
    --primary-color: #8B2306;
    --white-color: #FFFFFF;
    --gray-color: #9b9b9b;
    --gray-color2:  #151515;
    --black-color: #000000;
  }